* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
}

.chat-container {
    width: 100%;
    height: 100vh;
    background-color: #35383d;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* PARTE ONDE AS MENSAGENS SÃO EXIBIDAS */
.chat-container .chat {
    margin: 20px 0;
    height: 90%;

    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.chat-container .chat .message {
    margin: 24px;
}

.chat-container .chat .message .name {
    color: #5ddfa2
}

.chat-container .chat .message p {
    color: #c0c0c0;
}


/* PARTE DE ENVIO DA MENSAGEM */
.chat-container .send-message {
    height: 10%;
}

.chat-container .send-message form {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-container .send-message form input {
    width: 90%;
    height: 100%;

    padding: 4px 20px;

    font-size: 1.1rem;
    
    background-color: #40454b;
    color: #c0c0c0;

    border-style: none;
}

.chat-container .send-message form input:focus {
    outline: none;
}

.chat-container .send-message form button {
    width: 160px;
    height: 100%;
}


/* LISTA DOS USUÁRIOS DO CHAT */
.users {
    width: 400px;
    height: 100vh;
    background-color: #303136;
    color: #c0c0c0;

    overflow-y: auto;

    padding: 24px 14px;
}

.users .user-online {
    border-radius: 4px;
    margin: 12px 0;
    padding: 10px;

    transition: background-color .3s ease, transform .3s ease;
}

.users .user-online:hover {
    background-color: #40454b;
    transform: translateY(-10%);
}

.users .user-online .username {
    font-weight: 500;
}


/* Modal Username */
.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 80%;
    height: 40%;

    color: #fff;
    text-align: center;

}

.modal-container p {
    font-size: 4rem;
    margin-bottom: 80px;
}

.modal-container input {
    width: 300px;
    height: 32px;

    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    
    color: white;
    font-size: 1rem;

    background-color: #000;
}

.modal-container .btn-block {
    width: 200px;
    margin: 30px auto;
    
    background: linear-gradient(45deg,#4568dc,#b06ab3);
    border-radius: 60px;

    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2px;

    transition: box-shadow .5s ease;
}

.modal-container .btn-block:hover {
    box-shadow: 1px 1px 26px rgba(255, 255, 255, 0.438);
}

.modal-container .btn-block button {
    width: 200px;
    background: black;
    border-style: none;
    border-radius: 60px;

    color: white;

    cursor: pointer;
}
